.section {
background-color:  #0F9113;
color: white;
padding: 20px;
border: 2px solid  #0F9113;
width: 20%;
margin-top: 170px;
margin-left: 1000px;
}
.section:hover {
background-color: Black;
color: white;
padding: 20px;
border: 2px solid  #0F9113;
width: 20%;
margin-top: 170px;
margin-left: 1000px;
